.container {
    padding: 1rem 4rem;
    display: grid;
    align-items: center;
    gap: 2rem;

    @media (max-width: 1024px) {
        align-self: center;
        align-items: center;
        justify-content: center;
        max-width: 330px;
        padding: 0.5rem 0;
    }
}

.container3 {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 2.5rem;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
}

.container2 {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
}

.headline-container {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
}

.main-image {
    grid-row: 1 / 2;
    grid-column: 1;
    height: 30rem;
    width: auto;
    z-index: 1;
    border-radius: 2.5rem;
    margin: 0 auto;
    display: block;
    margin-top: 1rem;

    @media (max-width: 1024px) {
        height: 17rem;
        border-radius: 1.75rem;
    }
}

.main-image-horizontal {
    grid-row: 1 / 2;
    grid-column: 1;
    height: 30rem;
    width: auto;
    z-index: 1;
    border-radius: 2.5rem;
    margin: 0 auto;
    display: block;
    margin-top: 1rem;

    @media (max-width: 1024px) {
        width: 27rem;
        height: auto;
        border-radius: 1.75rem;
    }
}

.border {
    border: 0.4rem solid #372222;
    border-radius: 2.5rem;

    @media (max-width: 1024px) {
        border: 0.2rem solid #372222;
        border-radius: 1.75rem;
    }
}

.headline {
    grid-row: 1 / 2;
    grid-column: 1;
    align-self: end;
    text-align: center;
    color: #D26C79;
    font-family: "Chocolate Bar Demo Regular";
    text-shadow:
        -0.25rem -0.25rem 0 white,
        0.25rem -0.25rem 0 white,
        -0.25rem 0.25rem 0 white,
        0.25rem 0.25rem 0 white,
        0 -0.25rem 0 white,
        0 0.25rem 0 white,
        -0.25rem 0 0 white,
        0.25rem 0 0 white;
    font-size: 5.75rem;
    z-index: 2;
    margin-bottom: -7rem;
    line-height: 5rem;

    @media (max-width: 1024px) {
        font-size: 2.5rem;
        text-align: center;
        line-height: 2.5rem;
        margin-bottom: -3.5rem;
    }
}

h1 {
    color: #372222;
    font-family: "Comic Sans MS";
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;

    @media (max-width: 1024px) {
        font-size: 1.15rem;
        font-weight: bold;
    }
}

.text {
    color: #372222;
    font-family: "Comic Sans MS";
    font-size: 1.5rem;
    padding: 2rem;

    @media (max-width: 1024px) {
        font-size: 1rem;
        padding: 1rem;
    }
}

.text-left {
    text-align: left;

    @media (max-width: 1024px) {
        text-align: center;
        margin-bottom: -6rem;
        max-width: 330px;
        padding-bottom: 3rem;
        margin: -2rem auto -5.5rem auto;
    }
}

.text-mobile{
    text-align: center;
    padding: 3rem 1rem 1rem 1rem;

    @media (min-width: 1024px) {
        display: none;
    }
}

.text-left-desktop {
    text-align: left;

    @media (max-width: 1024px) {
        display:none;
    }
}

.text-right {
    text-align: right;

    @media (max-width: 1024px) {
        text-align: center;
        max-width: 330px;
        margin: 0 auto;
        align-items: center;
    }
}

.text-right-desktop {
    text-align: right;

    @media (max-width: 1024px) {
        display:none;
    }
}

.text-center {
    text-align: center;

    @media (max-width: 1024px) {
        text-align: center;
        max-width: 330px;
        margin: 0 auto;
        align-items: center;
    }
}

.text-center-container {
    text-align: center;

    @media (max-width: 1024px) {
        text-align: center;
        align-items: center;
        max-width: 150px;
        margin: 6px;
    }
}

.text-center-padding {
    text-align: center;
    padding: 0 0.5rem;

    @media (max-width: 1024px) {
        text-align: center;
        max-width: 330px;
        margin: 0 auto;
        align-self: center;
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem 0;

    @media (max-width: 1024px) {
        align-self: center;
        align-items: center;
        justify-content: center;
        min-width: 330px;
        margin-left: -1rem;
        padding: 0;
    }
}

.cute1 {
    color: #372222;
    font-family: "Comic Sans MS";
    font-size: 1.74rem;
    text-align: left;
    padding-left: 2rem;
    font-weight: bold;

    @media (max-width: 1024px) {
        display: none;
    }
}

.cute2 {
    color: #372222;
    font-family: "Comic Sans MS";
    font-size: 1.75rem;
    text-align: right;
    padding-right: 2rem;
    font-weight: bold;

    @media (max-width: 1024px) {
        display: none;
    }
}

.references {
    width: 35rem;

    @media (max-width: 1024px) {
        width: auto;
        max-width: 120px;
        padding: 0.1rem;
        align-self: left;
    }
}

.another_container .container_cs .flowchart {
    height: 40rem;
    overflow: hidden;
    cursor: pointer;
    border: 0.25rem solid #372222;
    border-radius: 1rem;
}

.flowchart {
    width: 100rem;
    padding-top: 2rem;

    @media (max-width: 1024px) {
        width: 17rem;
    }
}

.showcase {
    height: 20rem;
    width: auto;
    object-fit: cover;

    @media (max-width: 1024px) {
        height: 9rem;
        width: auto;
        object-fit: cover;
    }
}

.me1 {
    width: 42rem;
    padding-right: 16rem;

    @media (max-width: 1024px) {
        width: 15rem;
        padding-right: 5rem;
    }
}

.me2 {
    width: 39rem;
    padding-left: 16rem;
    transform: rotate(4.2deg);

    @media (max-width: 1024px) {
        width: 13rem;
        padding-left: 5rem;
    }
}

.other-images {
    width: 70rem;

    @media (max-width: 1024px) {
        width: 16rem;
    }
}

.crop {
    width: 100%;
    object-fit: cover;

    @media (max-width: 1024px) {
        width: 20.5rem;
    }
}