.container {
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    padding: 0 5rem;
    align-items: center;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        align-self: center;
        padding: 0.25rem;
        display: grid;
    }
}

.in-container {
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    align-items: center;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        align-self: center;
    }
}

.visual {
    display: flex;
    flex-direction: column;
}

.text-center,
.text-left,
.text-right {
    color: #372222;
    font-family: "Comic Sans MS";
    font-size: 1.5rem;
    font-weight: bold;

    @media (max-width: 1024px) {
        display: none;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-mobile {
    text-align: center;
        font-size: 1rem;
        max-width: 330px;
        color: #372222;
        font-family: "Comic Sans MS";
        font-size: 1rem;
        font-weight: bold;
        padding-top: 1rem;

    @media (min-width: 1024px) {
        display: none;
    }
}

#headline {
        opacity: 0;
    }

    /* When ready, visibility stays the same but transformation occurs */
    #headline.ready {
        color: #D26C79;
        opacity: 1;
    }

.headline {
    color: #D26C79;
    font-family: "Chocolate Bar Demo Regular";
    font-size: 12rem;
    letter-spacing: -1.5rem;
    align-self: center;

    @media (max-width: 1024px) {
        font-size: 8.5rem;
        margin-top: -1rem;
        transform: rotate(-0.09rad);
        margin-right: 1.25rem;
    }
}

.pfp {
    width: 29rem;
    align-self: center;

    @media (max-width: 1024px) {
        width: 18rem;
    }
}

.icons {
    display: flex;
    justify-content: center;
    height: 6.25rem;
    gap: 0.5rem;
    margin-top: 0.5rem;


    @media (max-width: 1024px) {
        height: 3.5rem;
    }
}

.icon {
    height: 100%;
    padding: 1rem;

    @media (max-width: 1024px) {
        padding: 0.5rem;
    }
}