:root {
  --main-content-width: 1024px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b05c66;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8a4a51;
}

::-webkit-scrollbar-track {
  background-color: rgba(176, 92, 102, 0.13);
}

@font-face {
  font-family: "Chocolate Bar Demo Regular";
  src: url(fonts/chocolate-bar-demo.regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  @media (max-width: 1024px) {
    gap: 0.75rem;
  }
}

nav a {
  color: #FFFFFF;
  font-family: "Comic Sans MS";
  font-size: 2.25rem;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
}

.headbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  min-height: 6.75rem;
  background: #372222;
  gap: 3rem;
  padding-inline: 5rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  @media (max-width: 1024px) {
    display: none;
  }

  & *:first-child {
    justify-self: start;
  }

  & *:last-child {
    justify-self: end;
  }
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
}

.headbar-mobile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  background: #372222;
  padding-inline: 2rem;
  min-height: 4rem;
  width: 100%;

  @media (min-width: 1024px) {
    display: none;
  }

  & *:first-child {
    justify-self: start;
  }

  & *:last-child {
    justify-self: end;
  }
}

.buttons-mobile {
  height: 1.75rem;

  @media (min-width: 1024px) {
    display: none;
  }
}

.chosen-button {
  display: flex;
  justify-content: center;
  align-self: center;

  @media (max-width: 1024px) {
    display: none;
  }
}

.chosen-button a {
  display: inline-block;
  background-color: #d26c7a88;
  padding: 0 1rem;
  border: 0.5rem solid #d26c7a88;
  border-radius: 2.5rem;
  margin-top: -0.5rem;
}

.spacer {
  height: 3rem;

  @media (max-width: 1024px) {
    display: none;
  }
}

.spacer-mobile {
  height: 2.5rem;

  @media (min-width: 1024px) {
    display: none;
  }
}

@media (min-width: 1024px) and (min-resolution: 105dpi) and (max-resolution: 192dpi) {
  .spacer-mobile {
    display: none;
  }
}

.spacer-more {
  visibility: none;
  height: 55px;
}

@media (min-width: 1024px) and (min-resolution: 105dpi) and (max-resolution: 192dpi) {
  .spacer-more {
    visibility: visible;
  }
}

.rotate {
  transform: rotate(3.142rad);
}

.cat {
  max-height: 5.678rem;
  height: auto;
  width: auto;
  object-fit: contain;

  @media (max-width: 1024px) {
    max-height: 3.039rem;
  }
}

.cat1 {
  margin: 0 -1.275rem;
  animation: jump 2s ease-out infinite 0.2s;

  @media (max-width: 1024px) {
    margin: 0 -0.85rem;
    animation: jump-small 2s ease-out infinite 0.2s;
  }
}

.cat2 {
  margin: 0 0.15rem;
  position: relative;
  top: 1.275rem;
  animation: jump 2s ease-out infinite 0.6s;

  @media (max-width: 1024px) {
    margin: 0 0.1rem;
    top: 0.85rem;
    animation: jump-small 2s ease-out infinite 0.6s;
  }
}

.cat3 {
  margin: 0 -1.95rem;
  position: relative;
  top: 1.125rem;
  animation: jump 2s ease-out infinite 0.4s;

  @media (max-width: 1024px) {
    margin: 0 -1.3rem;
    top: 0.75rem;
    animation: jump-small 2s ease-out infinite 0.4s;
  }
}

.cat4 {
  margin: 0 0.3rem;
  position: relative;
  top: 1.5rem;
  animation: jump 2s ease-out infinite 0s;

  @media (max-width: 1024px) {
    margin: 0 0.2rem;
    top: 1rem;
    animation: jump-small 2s ease-out infinite 0s;
  }
}

.cat5 {
  margin: 0 -2.4rem;
  position: relative;
  top: 1.8rem;
  animation: jump 2s ease-out infinite 0.3s;

  @media (max-width: 1024px) {
    margin: 0 -1.6rem;
    top: 1.2rem;
    animation: jump-small 2s ease-out infinite 0.3s;
  }
}

.cat6 {
  margin: 0 1.725rem;
  margin-bottom: 0.75rem;
  position: relative;
  top: 0.9rem;
  animation: jump 2s ease-out infinite 0.5s;

  @media (max-width: 1024px) {
    margin: 0 1.15rem;
    margin-bottom: 0.5rem;
    top: 0.6rem;
    animation: jump-small 2s ease-out infinite 0.5s;
  }
}

.cat7 {
  margin: 0 -2.4rem;
  position: relative;
  top: 0.75rem;
  animation: jump 2s ease-out infinite 0.1s;

  @media (max-width: 1024px) {
    margin: 0 -1.6rem;
    top: 0.5rem;
    animation: jump-small 2s ease-out infinite 0.1s;
  }
}

.cat8 {
  margin: 0 1.125rem;
  position: relative;
  top: 0.75rem;
  animation: jump 2s ease-out infinite 0.7s;

  @media (max-width: 1024px) {
    margin: 0 0.75rem;
    top: 0.5rem;
    animation: jump-small 2s ease-out infinite 0.7s;
  }
}

.cat-footer {
  position: fixed;
  bottom: -2.55rem;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgb(255, 255, 255) 55%, rgba(255, 255, 255, 0) 100%);
  z-index: 100;
  display: flex;
  justify-content: center;
  padding: 0.6rem 0;
  overflow: hidden;
  padding-left: 1.75rem;

  @media (max-width: 1024px) {
    bottom: -1.4rem;
    padding: 0.3rem 0;
    padding-left: 1rem;
  }

  -webkit-overflow-scrolling: touch;
}

.cats {
  display: flex;
}


@keyframes jump {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-1.25rem);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
    
  }
}

@keyframes jump-small {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-0.75rem);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
    
  }
}