.headline {
    color: #D26C79;
    font-family: "Chocolate Bar Demo Regular";
    font-size: 5.6rem;
    text-align: left;
    padding: 2rem 0rem 2rem 5rem;

    @media (max-width: 1024px) {
        font-size: 2.5rem;
        padding: 1rem 0rem 0rem 1rem;
    }
}

div.scrollmenu {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 400%;
    white-space: nowrap;
    height: 25rem;
    width: auto;
    margin-left: -6.5rem;
    margin-right: -6.5rem;
  }
  
  div.scrollmenu a {
    display: inline-block;
  }

.artwork {
    height: 23rem;
    width: auto;
    object-fit: cover;
    margin: 0.5rem;

    @media (max-width: 1024px) {
        height: 8rem;
    }
}

.animation {
    height: 23rem;
    width: auto;
    object-fit: cover;
    margin: 0.5rem;
    border-radius: 2.5rem;

    @media (max-width: 1024px) {
        height: 8rem;
    }
}

.gif1 {
    height: 23rem; 
    width: 26rem;
    object-fit: cover;
    margin: 0.5rem;
    border-radius: 2.5rem;

    @media (max-width: 1024px) {
        height: 8rem;
        width: 9rem;
    }
}

.gif2 {
    height: 22.6rem;
    width: auto;
    object-fit: cover;
    margin: 0.5rem;
    border: 0.4rem solid #372222;
    border-radius: 2.5rem;

    @media (max-width: 1024px) {
        height: 8rem;
        border: 0.2rem solid #372222;
    }
}

.border {
    border-radius: 2.5rem;
}