@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); 
  }
}
.slider {
  height: 25rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  justify-content: space-evenly;
  width: 104rem;
  padding: 0 6.5rem;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 60s linear infinite;
  display: flex;
  width: calc(10rem * 53.75);
}
.slider .slide {
  height: 6rem;
  width: 60rem;
}