@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-675%); 
  }
}
.slider {
  height: 25rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 6.5rem;

  @media (max-width: 1024px) {
    height: 14rem;
    margin-bottom: -1.5rem;
}
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 60s linear infinite;
  display: flex;
  width: calc(10rem * 7);
}

.slider .slide {
  height: 6rem;
  width: 60rem;
}